
/* header section */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  height: 13vh;
  width: 100% !important;
}
nav logo {
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}
nav ul {
  list-style: none;
  display: flex;
  margin-left: 2rem;
}
nav ul li {
  padding: 0px 20px;
  margin-top: 1rem;
}
nav button {
  margin: 0.5rem;
}
nav ul li a {
  color: rgb(104, 103, 103);
  text-decoration: none;
  position: relative;
  top: 30%;
  right: 30%;
}

nav ul li a::after {
  content: "";
  position: absolute; /* Changed to absolute for bottom border */
  left: 0;
  bottom: -10px; /* Adjusted position to create space for the border */
  width: 0%;
  height: 5px;
  border-radius: 20px !important; /* Reduced height for a thinner border */
  background-color: rgb(
    219,
    33,
    33
  ); /* Changed color property to background-color */
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
  transition: 0.5s ease-out;
  color: black;
}
nav ul li a:hover {
  color: black !important;
}
nav ul li .log {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li .log p {
  cursor: pointer;
  margin: 0.3rem;
}
.log button {
  padding: 15px !important;
  background-color: rgb(236, 68, 96);
  border: 0;
  display: inline-block;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 2rem;
  border-radius: 40%;
}
.log {
  width: 200px;
  margin-left: 2rem;
}
.menu {
  margin-top: 1rem;
  display: none;
}
.menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
/* home dection */
.home-intro {
  position: relative;
  top: 7rem;
}
.home-content h1 {
  font-size: 3rem;
}
.search-box {
  padding: 1rem;
  border-radius: 100px 100px 100px 100px;
  width: max-content !important;
  -webkit-box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.75);
  margin-top: 2rem !important;
}
.search-box select {
  margin-left: 1rem;
  border: 0;
  font-size: 0.8rem;
}

.search-box input {
  margin-left: 1rem;
  border: 0;
  font-size: 0.8rem;
}
.search-img {
  margin-left: 1.5rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(236, 68, 96);
  color: white;
  padding: 7px;
  border-radius: 80%;
}
.location-img {
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 80%;
  background-color: rgb(236, 68, 96);
  cursor: pointer;
}
.travel-person {
  width: 400px;
  height: 380px;
  cursor: pointer;
}
.home-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
/*About section  */
.about-intro {
  width: 100%;
}
.about-content p {
  color: rgb(236, 68, 96);
  font-weight: bold;
  font-size: 0.9rem;
}
.about-content h4 {
  color: grey;
  line-height: 1rem;
}
.about-content ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.about-content ul li p {
  color: rgb(165, 163, 163);
}
.about-content ul li h1 {
  color: rgb(236, 68, 96);
}
.about-content ul li {
  display: flex;
  flex-direction: column;
}
.about-world {
  width: 500px;
  height: 550px;
  cursor: pointer;
}
.about-intro {
  padding-top: 20% !important;
}
.service-content p {
  color: rgb(236, 68, 96);
  font-weight: bold;
  font-size: 0.9rem;
}
.cost {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.star-icon {
  width: 16px;
  height: 16px;
}
.card-body i {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  background-color: rgb(233, 233, 162);
  width: 20%;
  border-radius: 20%;
  color: rgba(235, 195, 18, 0.932);
  font-size: 0.8rem;
}
#services .card {
  margin-top: 3rem;
}
.cost h2 {
  color: rgb(236, 68, 96);
}
.cost p {
  font-size: 0.8rem;
}
/*Testimonials */
.test-img
{
  width:100%;
  cursor: pointer;
}
.img-area
{
  position: relative;
  overflow: hidden;
  width:100px;
  height:100px;
  border-radius:50%;
  margin:auto;
  border:2px solid black;
}
.test-content p
{
  line-height:1.0;
}
.test-content
{
  background-color:red;
  width:300px;
  padding:30px;
  text-align: center;
  border-radius:30px;

}

.test-container
{
  width:1170px;
  margin: auto;
  padding:12% 0;
}
.owl-theme .owl-controls
{
  margin-top:150px;
  margin-left:30px;
}
.owl-dots
{
  text-align: center;
  margin-top:3%;
}
.owl-dot
{
  display: inline-block;
  height:20px!important;
  width:20px!important;
  background-color:#fff!important;
  opacity:0.8;
  border-radius:50%;
  margin:0px 5px;
}

/*Price content */

#price {
  margin-top: 5rem;
}
.price-content button {
  padding: 10px;
  background-color: rgb(236, 68, 96);
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  border: 0;
  color: white;
}
.price-rate {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.price-rate p {
  font-size: 0.8rem;
  color: gray;
}
.price-card {
  height: 80px;
  margin-top: 50%;
  margin-left: 2rem;
}
.price-rate h4 {
  color: rgb(236, 68, 96);
  text-align: center !important;
}
.price-content {
  text-align: center !important;
}
/*Footer img*/
.footer-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.social-icons {
  display: flex;
  align-items: center;
}
.footer-img {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons a {
  background-color: rgb(236, 68, 96);
  margin: 0px 10px;
  padding: 0.8rem;
  border-radius: 50%;
}
.first-li {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
.second-li {
  width: 130px;
}
#Footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.test-img {
  width: 100px;
  height: 100px;
}
#card-shadow {
  -webkit-box-shadow: -1px 0px 5px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 0px 5px 7px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 0px 5px 7px rgba(0, 0, 0, 0.3);
}

/* Media Querires */
@media (max-width: 767px) {
  .menu {
    display: block !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
  nav {
    height: 10vh;
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
    background-color: red;
    width: 100%;
    position: absolute;
    top: 90px;
    display: none;
  }
  .active {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
    background-color: grey;
    width: 100%;
    position: absolute;
    top:10px;
    z-index: 100;
  }
 
  .search-box {
    margin-top: 1rem !important;
    padding: 0.5rem;
}

.search-box select,
.search-box input {
    margin-left: 0;
    margin-top: 0.5rem;
    background-color:transparent;
}

.search-img,
.location-img {
    width: 20px;
    height: 20px;
    padding: 5px;
}

.travel-person {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.home-content h1 {
    font-size: 2rem;
}

.home-intro {
    top: 3rem;
}

.about-world {
    width: 300px;
    height: 300px;
}
.price-card
{
  height:max-content;
  margin-top:0;
  margin-left: 0; 
  width:18rem!important;
}
#price .card
{
  margin:1rem;
}
  
}



